{% extends 'base.html' %}
{% load bootstrap3 %}
{% load sekizai_tags %}


{% block title %}Swiss style Tournament Scoring App{% endblock %}

{% block all_content %}

<script type="text/template" id="score_template">
			<label><%= score %> <%= rating_delta %></label>
</script>

<script type="text/template" id="tournament_select_template">
	<select id="tournament-selector">
		 <% _.each(tournaments, function(tournament) {%>
			<option value="<%= tournament.id %>"><%= tournament.name %> <%= tournament.date %></option>
		<% }); %>
	</select>
</script>

<script type="text/template" id="round_template">
			<div class="row">
			</div>
</script>

<script type="text/template" id="match_template">
			
</script>

<div class="container" id="app_container">
	
	<div class="row no-gutter">
		<div class="col-xs-12" id="tournament_container">
			<option>Loading tournaments</option>
		</div>
	<div>
	<div class="row no-gutter">
		<div class="col-xs-12 col-sm-9" id="round_container">
			Loading round...
		</div>
		<div class="col-xs-12 col-sm-3" id="scoreboard_container">
			Loading scoreboard...
		</div>
	<div>

{% endblock %}